doctype html
html(lang="zh-CN")
    head
        meta(name="viewport",content="width=device-width, initial-scale=1")
        title DB Execute
        link(href='/bootstrap/css/bootstrap.min.css', type='text/css', rel='stylesheet')
        link(href='/css/style.css', type='text/css', rel='stylesheet')
        block styles
    body
        .container
            block content
        script(src='/js/jquery-1.11.0.min.js', type='text/javascript')
        script(src='/bootstrap/js/bootstrap.min.js', type='text/javascript')
        script(src='/js/knockout-3.2.0.js', type='text/javascript')
        block scripts